# Web Framework
fastapi
uvicorn[standard]
python-multipart  # YENİ: Dosya yükleme (File uploads) için gerekli

# Config & Data Validation
pydantic
pydantic-settings
python-dotenv
typing-extensions

# Logging
structlog

# Observability
prometheus-fastapi-instrumentator

# AI & STT
# Not: torch, Dockerfile'da özel olarak kurulacak
transformers
optimum
accelerate
bitsandbytes
# Ses dosyası işlemek için
soundfile